In [1]:
fpath = "./data/popular-names.txt"

## #10.行数のカウント

In [9]:
with open(fpath, "r") as f:
    out = f.readlines()
    print("This file has {} lines.".format(len(out)))

This file has 2780 lines.

In [18]:
#データフレームpandasを使う
import pandas as pd

df = pd.read_table(fpath, header=None, names=["name", "sex", "number", "year"])

print(df)
print("---------------")
print(len(df))

           name sex  number  year
0          Mary   F    7065  1880
1          Anna   F    2604  1880
2          Emma   F    2003  1880
3     Elizabeth   F    1939  1880
4        Minnie   F    1746  1880
...         ...  ..     ...   ...
2775   Benjamin   M   13381  2018
2776     Elijah   M   12886  2018
2777      Lucas   M   12585  2018
2778      Mason   M   12435  2018
2779      Logan   M   12352  2018

[2780 rows x 4 columns]
---------------
2780

In [19]:
#UNIXコマンドでの実行
!wc -l ./data/popular-names.txt

    2780 ./data/popular-names.txt

## 11.タブをスペースに置換

In [21]:
with open(fpath, "r") as f:
    for i, line in enumerate(f):
        if i == 10: break
        line = line.replace("\t", " ")
        print(line)

Mary F 7065 1880

Anna F 2604 1880

Emma F 2003 1880

Elizabeth F 1939 1880

Minnie F 1746 1880

Margaret F 1578 1880

Ida F 1472 1880

Alice F 1414 1880

Bertha F 1320 1880

Sarah F 1288 1880

In [ ]:
!sed -e "s/\t/ /g" ./data/popular-names.txt  # sed -e "s/置換元/置換後/g" ファイル名

## #12.1列目をcol1.txtに,2列目をcol2.txtに保存

In [36]:
with open(fpath, "r") as f, open("./work/col1_review.txt", "w") as col1, open("./work/col2_review.txt", "w") as col2:
    for line in f:
        line = line.rstrip().split("\t")[:2]
        assert len(line) == 2  # assertは,assert以降の条件がTrueの場合は何も起きず,Falseの時はAssertionErrorが生じて必要に応じてエラーメッセージが生成される
        col1.write(line[0])
        col1.write("\n")
        
        col2.write(line[1])
        col2.write("\n")

In [42]:
#データフレームを使う方法
import pandas as pd

df = pd.read_table(fpath, header=None, usecols=[0, 1])

print("-----データフレームの中身-----")
print(df, end = "\n\n")

print("-----データフレームの情報-----")
df.info(memory_usage="deep")

df[0].to_csv("./work/col1_review_df.txt", index=False, header=False)
df[1].to_csv("./work/col2_review_df.txt", index=False, header=False)

-----データフレームの中身-----
              0  1
0          Mary  F
1          Anna  F
2          Emma  F
3     Elizabeth  F
4        Minnie  F
...         ... ..
2775   Benjamin  M
2776     Elijah  M
2777      Lucas  M
2778      Mason  M
2779      Logan  M

[2780 rows x 2 columns]

-----データフレームの情報-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2780 entries, 0 to 2779
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2780 non-null   object
 1   1       2780 non-null   object
dtypes: object(2)
memory usage: 328.7 KB

In [38]:
!cut -f 1 ./data/popular-names.txt > ./work/col1_review_command.txt
!cut -f 2 ./data/popular-names.txt > ./work/col2_review_command.txt

## #13.col1とcol2をマージ

In [45]:
with open("./work/col1.txt", "r") as fr1, open("./work/col2.txt", "r") as fr2, open("./work/MergeCol1_2_review.txt", "w") as fw:
    for line1, line2 in zip(fr1, fr2):
        fw.write(line1.rstrip())
        fw.write("\t")
        fw.write(line2)